/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ShouShuti';
  src: url(../../assets/zk.ttf);
}

@font-face {
  font-family: ss-en;
  src: url('../../assets/shoushu-en.ttf');
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply text-gray-800;
}

.theme-moni body {
  color: #ccc;
  font-family: ss-en,'ShouShuti', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  position: relative;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100vh;
  @apply rounded-lg overflow-hidden;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: transparent;
}
/*定义滚动条的轨道，内阴影及圆角*/
::-webkit-scrollbar-track{
  background-color: transparent;
}
/*定义滑块，内阴影及圆角*/
::-webkit-scrollbar-thumb {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: rgba(0, 0, 0, .4);
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  background-color: transparent;
}
